@{
    ViewData["Title"] = "Registro";
}
@model Curso.Models.Usuarios

<form asp-action="Registrar" asp-controller="Home" id="Registrar">

    <div class="row">
        <div class="form-group col-md-3">
            <label>Usuario</label>
            <input type="text" asp-for="Nombre" class="form-control"/>
            <span asp-validation-for="Nombre"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label>Contraseña</label>
            <input type="password" asp-for="Clave" class="form-control" />
            <span asp-validation-for="Clave"></span>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn-primary">Registrar</button>
    </div>
</form>